<div class="container-fluid" *ngIf="!carDetailBool">
    <div class="row">
        <div class="col-2"></div>
        <img src="{{ adBanner }}" class="col-8 m-2" alt="" />
        <div class="col-2"></div>
    </div>
    <div class="row border">
        <div class="col-3 border">
            <app-left-panel></app-left-panel>
        </div>
        <div class="col-9">
            <app-right-panel></app-right-panel>
        </div>
    </div>
</div>
<div class="container-fluid" *ngIf="carDetailBool">
    <app-car-details></app-car-details>
</div>